body,html{
    height: 100%;
    overflow: hidden;
    background-image: url(images/slanted-gradient.svg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.center{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color:black;
}

.center.logo{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color:black;
}

.logoHead {
    float: left;
    background-color: black;
  }

  .button-container {
    width: 150px;
  }
  
  .button {
    width: 100%;
    display: block;
    color: rgb(3, 160, 160);
    background-color: black;
    height: 60px;
    font-size: 15px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: 200;
  }

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 200;
    overflow: hidden;
    background-color: rgb(11, 192, 192);
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    text-align: center;
    list-style-type: none;
}
li.menu{
    margin-right: 10px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li:last-child{
    border-right: none;
}

.menu{
    display: block;
    color: azure;
    text-align: left;
    padding: 14px 16 px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color:rgb(11, 192, 192);
}

.active{
    background-color: rgb(11, 151, 233);
}

